h1{
  margin-bottom: 2em;
}
a {
  text-decoration: none;
}
.card, .card-body, .card-title, .card-text{
  max-width: 100em;
  text-decoration: none;
  color : black;
}


.shadow{
  margin-top: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
