.shadow{
  margin-top: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add{
  float: right;
  color: black !important;
}
.add:hover{
  color: lightgrey !important;
}

.header{
  background-color: #333;
}
.detail{
  padding: 2em;
  margin-left: -8em;
}
.modal-body {
    position: fixed;
}

.row{
  padding-left: 20em;
}
.card{
  max-width: 100em;
}
.btn{
  margin-bottom: 1em;
}
.btn-danger{
  background-color: red !important;
}
.btn-primary, .btn-danger{
  border-radius: 15px;
  background-color: #0069d9;
  border-color:white;
  color: white;
  padding-right: 1em;
  padding-left: 1em;
}
h4{
  margin-top: 1em;
  color: white;
}
